tests/
testapp/
jstestapp/
examples/
.idea/
node_modules/
.github/
docs/
genCoverageRow.py

src/**/*.ts
src/**/*.tsx

*.prettierrc
*.prettierignore
*.eslintrc
*.eslintignore
*.DS_Store
typedoc-readme.md